<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeskQuote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MegaDeskASP.styles.css" asp-append-version="true" />
    <!--Styles of the site-->
    <link rel="stylesheet" href="~/css/MegaDeskStyles.css" asp-append-version="true" />

</head>
<body>

    <header>
        <a asp-page="/Index">
            <img src="/css/logos/logo-megadesk.png" alt="MegaDesk 2.0"/>
        </a>
    </header>
    
    <div class="general-cont">
        @RenderBody()
    </div>

    <footer>
        <div>
            <img src="/css/logos/logo-megadesk-footer.png" alt="MegaDesk"/>
        </div>
        <div class="list-footer">
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Quotes/Create">Add Quote</a></li>
                <li><a asp-page="/Quotes/Index">Quotes</a></li>
                <li><a href="#" data-toggle="modal" data-target="#about">About Us</a></li>
                <li><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy</a></li>
            </ul>
        </div>
    </footer>

    <!-- Modal About Us-->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutLabel">About Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This is MegaDesk 2.0 application. Created with ASP.NET for the CIT 365 Course on BYU Idaho, The team Cumorah did this project together, integrated by Arturo Ocampo, Anderson Gil, Jose Alarcon, and William Meza.

                    If you have more information about that, please contact us by email.
                    This project was created on February 25, 2023.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Privacy-->
    <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privacyModalLabel">Privacy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This is an educational project, All content that exists here are examples, and false information and does not save any information. If you have any questions about privacy, please contact us by email.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--<script src="~/js/MegaDeskScripts.js"></script>-->
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>