@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Create";
    var speakers = ViewBag.Speakers as List<Speaker>;
    var speachTopics = ViewBag.SpeachTopics as List<SpeachTopic>;
}

<header>
    <a asp-controller="Home" asp-action="Index">
        <img src="/images/logo-header.png" alt="Logo" />
    </a>
</header>

<div class="container-folder">
    <div class="cont">
        <div class="container-menu">
            <ul>
                <li class="create-color"><a asp-controller="Planners" asp-action="Create">Create new plan</a></li>
                <li class="list-color"><a asp-controller="Planners" asp-action="Index">View List</a></li>
                <li class="about-color"><a asp-controller="Speakers" asp-action="Index">Speakers</a></li>
            </ul>
        </div>
        <div class="folder create-color height-specific">
            <div class="cont-center">
                <h1>Create</h1>
                <div class="sub-menu">
                    <a asp-action="Index">Back to List</a>
                </div>

                <hr />
                
                 <form asp-action="Create" enctype="multipart/form-data">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                           <div class="section-form" id="form-1">
                                <div class="form-group">
                                    <label asp-for="MeetingDate" class="control-label"></label>
                                    <input asp-for="MeetingDate" class="form-control" />
                                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PresideLeader" class="control-label"></label>
                                    <input asp-for="PresideLeader" class="form-control" />
                                    <span asp-validation-for="PresideLeader" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConductingLeader" class="control-label"></label>
                                    <input asp-for="ConductingLeader" class="form-control" />
                                    <span asp-validation-for="ConductingLeader" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OpeningSong" class="control-label"></label>
                                    <input asp-for="OpeningSong" class="form-control" />
                                    <span asp-validation-for="OpeningSong" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OpeningPray" class="control-label"></label>
                                    <input asp-for="OpeningPray" class="form-control" />
                                    <span asp-validation-for="OpeningPray" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SacramentHymn" class="control-label"></label>
                                    <input asp-for="SacramentHymn" class="form-control" />
                                    <span asp-validation-for="SacramentHymn" class="text-danger"></span>
                                </div>

                                <div class="cont-btn">
                                    <div>
                                        <button class="btn-form" type="button" onclick="next(2)">Next</button>
                                    </div>
                                </div>
                           </div>
                            


                           <div class="section" id="form-2">
                        <!-- Start of speeches section -->
                        <div class="form-group">
                            <h4>Speeches</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Speakers
                                        </th>
                                        <th>
                                            Topics
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="speeches-container">
                                </tbody>
                            </table>
                            <button id="add-speach" class="btn-form-border" type="button">Add Speech</button>
                            <!-- Speach Template -->
                            <table style="display:none;">
                                <tbody id="speech-template">
                                    <tr>
                                        <td>
                                            <select name="Speeches[__counterId__].SpeakerId" class="form-control">
                                                <option value="">-- Select a Speaker --</option>
                                                @foreach (var speaker in speakers)
                                                {
                                                    <option value="@speaker.Id">@speaker.FullName</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Speeches[__counterId__].SpeachTopicId" class="form-control">
                                                <option value="">-- Select a Topic --</option>
                                                @foreach (var speachTopic in speachTopics)
                                                {
                                                    <option value="@speachTopic.Id">@speachTopic.TopicName</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <a href="#" class="remove-speech">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        <!-- End of speeches section -->
                           </div>
                        <div class="cont-btn">
                            <div>
                                <button class="btn-form" type="button" onclick="next(1)">Back</button>
                                <button class="btn-form" type="button" onclick="next(3)">Next</button>
                            </div>
                        </div>
                    </div>


                        <div class="form-section" id="form-3">
                        <div class="form-group">
                            <label asp-for="ClosingSong" class="control-label"></label>
                            <input asp-for="ClosingSong" class="form-control" />
                            <span asp-validation-for="ClosingSong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClosingPray" class="control-label"></label>
                            <input asp-for="ClosingPray" class="form-control" />
                            <span asp-validation-for="ClosingPray" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            
                        </div>

                        <div>
                            <div>
                                <button class="btn-form" type="button" onclick="next(2)">Back</button>
                                <input type="submit" value="Create" class="btn-form" />
                            </div>
                        </div>
                            </div>
                        </form>

                

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                    <script>
                        $(document).ready(function () {
                            var counter = 0;
                            function addSpeach() {
                                var $template = $('#speech-template'),
                                    $speechesContainer = $('#speeches-container');
                                counter++;
                                var templateHtml = $template.html().replace(/__counterId__/g, counter);
                                $speechesContainer.append(templateHtml);
                            }
                            $('#add-speach').click(addSpeach);

                            // Remove Speech
                            $('#speeches-container').on('click', '.remove-speech', function () {
                                var $row = $(this).closest('tr');
                                $row.remove();
                            });
                        });
                    </script>

                    <script>
                        function next(x) {
                            let a = document.getElementById('form-1');
                            let b = document.getElementById('form-2');
                            let c = document.getElementById('form-3');

                            switch (x) {
                                case 1:
                                    a.style.display = "block";
                                    b.style.display = "none";
                                    c.style.display = "none";
                                    break;
                                case 2:
                                    a.style.display = "none";
                                    b.style.display = "block";
                                    c.style.display = "none";
                                    break;
                                case 3:
                                    a.style.display = "none";
                                    b.style.display = "none";
                                    c.style.display = "block";
                                    break;
                                default:
                                console.log('Error!! Button to change the page in the form.')
                            }
                        }
                    </script>
                }
            </div>
        </div>
    </div>
</div>


