@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Planner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConductingLeader" class="control-label"></label>
                <input asp-for="ConductingLeader" class="form-control" />
                <span asp-validation-for="ConductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningSong" class="control-label"></label>
                <input asp-for="OpeningSong" class="form-control" />
                <span asp-validation-for="OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPray" class="control-label"></label>
                <input asp-for="OpeningPray" class="form-control" />
                <span asp-validation-for="OpeningPray" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerSubject" class="control-label"></label>
                <input asp-for="SpeakerSubject" class="form-control" />
                <span asp-validation-for="SpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingSong" class="control-label"></label>
                <input asp-for="ClosingSong" class="form-control" />
                <span asp-validation-for="ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPray" class="control-label"></label>
                <input asp-for="ClosingPray" class="form-control" />
                <span asp-validation-for="ClosingPray" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
